.card_content {
    &.community{
        display: flex;
        height: 2.5rem;
        align-items: flex-end;
        justify-content: space-between;
        & h3 {
            padding-bottom: 0.3rem;
        }
    }
    &_left {
        display: flex;
        align-items: flex-end; 
        gap: 0.5rem;
        & img {
        object-fit: contain;
        max-width: 2.5rem;
        }
    }
}