.kontakt {
    & .navigation {
        & a:hover {
            color: $txt-light;
            border-bottom: 2px solid $txt-light;
        }
        & .fa-martini-glass-citrus:hover,
        & .toggler:hover + div > .fa-martini-glass-citrus {
            padding-bottom: 4px;
            border-bottom: 2px solid $txt-light;
            color: $txt-light;
            cursor: pointer;
        }
    }
    & .section_orange {
        padding-top: f-clamp(10, 16.25);
        padding-inline: 11%;
        & h2 {
            max-width: 38rem;
        }
        & p {
            font-family: Cuprum, Arial, Helvetica, sans-serif;
            font-size: f-clamp(1, 1.5);
            color: $txt-light;
            letter-spacing: 3px;
            margin-block: 2rem 3rem;
            line-height: 30px;
            max-width: 52rem;
            margin-block: 2rem;
        }
    }
    & .contact-form {
        margin: 3.75rem auto;
        width: 78%;
        max-width: 70rem;
        &_part {
            margin-bottom: 3.75rem;
            & h3 {
                font-size: f-clamp(1, 1.5);
                font-family: Cuprum, Arial, Helvetica, sans-serif;
                letter-spacing: 3px;
                margin-bottom: 1em;
                color: $txt-dark-light;
            }
            & input {
                font-size: f-clamp(1.5, 2);
                border: none;
                width: calc(100% - 1rem);
                max-width: 34rem;
                padding: 1px;
                border: 1px solid $txt-dark-light;
                padding: 0.5em;
                &.betreff {
                    height: 8rem;
                }
                &.nachricht {
                    height: 20rem;
                }
                &.agb {
                    width: 30px;
                    aspect-ratio: 1;
                    &:hover {
                        cursor: pointer;
                    }
                }

            }
            &.checkbox {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-left: 1rem;
                margin-bottom: 2rem;
                & p {
                    font-size: f-clamp(1, 1.5);
                    color: $txt-dark-light;
                    font-family: Cuprum, Arial, Helvetica, sans-serif;
                    display: flex;
                    flex-wrap: wrap;
                }
                & a {
                    color: $txt-dark;
                }
            }
        }
        & .captcha {
            max-width: 350px;
            &:hover {
                cursor: pointer;
            }
        }
        & .submit {
            border: none;
            margin-block: 3.75rem 4rem;
            font-size: f-clamp(1, 1.5);
            &:hover {
                background-color: lighten($clr-orange , $amount: 10%);
                cursor: pointer;
            }
        }
    }
}